<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <h1>Buenos dias viajero del tiempo anal</h1>
        <p>Veo que eres un usuario privado de esta secta del demonio y eres tambien un gary</p>
        <img src="http://fotologimg.s3.amazonaws.com/photo/59/25/46/_jyj/1201190898_f.jpg">
    </div>
</body>

</html>