<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <h1>Eres un maldito especimen normal asique no tengo nada que decirte </h1>
        <p>No quiero hablar contigo sangre sucia</p>
        <img src="http://pm1.narvii.com/6513/45bb835f40ed0a4c4182b322db2fa9445a8586b1_hq.jpg">
    </div>
</body>

</html>